.footer {
  height: auto;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
  &__link {
    text-decoration: underline;
  }
}
