.footer {
  // height: auto;
  border: 1px solid black;
  color: aliceblue;
  background-color: rgb(64, 45, 77);
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  position: fixed;
  bottom: 0;
  &__link{
    border: aliceblue 2px solid;
    border-radius: 10px;
    padding: .5em;
  }&__link:hover{
    cursor: pointer;
    box-shadow: 7px 7px darken(#321D53, 20%), -7px -7px lighten(#321D53, 20%);
    transition: 0.5s;
    &::before {
    border: 0px ;
    }
  }
}
