.header {
  border: 1px solid black;
  border-radius: 0 0 20px 0;
  background-color: rgb(230, 206, 75);
  align-items: center;
  display: flex;
  justify-content: space-between;
  color:  #321D53;
  &_svg {
    width: 50%;
    height: auto;
    border: #f0f solid 2px,
  }
  &__nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    &__link,
    &__link--connexion {
      border: #321D53 2px solid;
      border-radius: 10px;
      margin: 0.5em;
      padding: 0.25em;
      width: 20%;
      height: 20%;
      font-weight: bolder;
      font-size:1.2em;
    }&__link:hover {
      background-color: darkslateblue;
      color :white;
      cursor: pointer;
      box-shadow: 7px 7px darken(#321D53, 20%), -7px -7px lighten(#321D53, 20%);
      transition: 0.5s;
		  &::before {
		  border: 0px ;
	}
    }&__link--connexion:hover {
      background-color: darkslateblue;
      color : white;
      cursor: pointer;
      box-shadow: 7px 7px darken(#321D53, 20%), -7px -7px lighten(#321D53, 20%);
      transition: 0.5s;
		  &::before {
		  border: 0px ;
	}
    }
  }
  &__logo {
      justify-content: flex-start;
      display: flex;
      margin-left: 1em;
      
}
}
