.header {
  border: 1px solid black;
  background-color: cadetblue;
  padding: 2rem 0;
  align-items: center;
    display: flex;
    &__nav {
      width: 75%;
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      &__link,
      &__link--connexion {
        text-decoration: underline;
      }
    }
    &__logo {
      justify-content: flex-start;
      height: 100%;
      width: 25%;
      margin: 1rem;
    }
}
