.UserDashboard{
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  
  &__title {
    // font: 2em bold serif;
    margin: 1em auto 3em;
  }
 
    &__card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border: 4px double #1C6EA4;
      transition: 0.3s;
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
      display: inline-block;
      padding : 3rem;

    }
  }
