.home {
  display: block;
  height: 100vh;
}
.home__search {
  margin: 2rem 0;
  &__bar {
    font-size: 1.2em;
    padding: 0.2em;
    border: 0.5px solid black;
    border-radius: 10px;
    width: 20%;
  }
}
.home__center {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.home__text {
  display: flex;
  align-items: left;
  max-width: 20%;
}
.home__logo {
  width: 50%;
  height: auto;
}
.home__categories {
  margin-top: 2rem;
  &__title {
    font: 1.5em bold serif purple;
  }
  &__cat {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &__link {
    border: 2px solid purple;
    border-radius: 10px;
    padding: .3em;
    width: 20%;
  }
}
