.Advert {
  width: 95%;
  height: auto;
  margin: 1.5em auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 8em;
  justify-content: space-between;
  &__content {
    &__left {
      background-color: rgba(169, 167, 167, 0.2) ;
      backdrop-filter: blur(4px);
      width: 50%;
      border-radius: 40px;
      margin-right: 2em;
      &__img {
        min-width: 350px;
        width: 25%;
        min-height: 350px;
        border-radius: 20px;
        margin: 2em;
      }
      &__text {
        width: 90%;
        height: auto;
        margin: .5em 1em;
        text-align: left;
        &__localisation {
          margin: .5em 1em;
          text-align: left;
        }
      }
      &__localisation {
        display: flex;
        align-items: center;
        &__img {
          width: 20%;
          height: auto;
          margin: .5em 1em;
        }
        &__imgtext {
          font-size: 1.5em;
        }
      }
    }
    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(169, 167, 167, 0.2) ;
      backdrop-filter: blur(4px);
      border-radius: 40px;
      margin-left: 2em;
      &__desc {
        &__title {
          margin: 2em auto 0;
          font: 2.5em bold serif;
          }
          &__details {
            display: flex;
            flex-wrap: wrap;
            &__category {
              display: flex;
              justify-content: space-around;
              width: 100%;
              margin: 1rem;
              &__tag {
                border: #f0f 2px solid;
                padding: .5rem;
                border-radius: 15px;
              }
            }
            &__detail {
              margin: 0 auto;
              font: 1em italic sans-serif;
              text-decoration: underline;
            }
          }
          &__description {
            width: 70%;
            margin: 1rem auto;
            text-align: left;
            font: 1.3em serif;
          }
      }
      &__contact {
        width: 70%;
        margin: auto;
        &__price {
          font: 1.3em bold sans-serif;
          margin-bottom: 2em;
        }
        &__button {
          font: 1.25em 'Berkshire Swash', cursive;
          width: 90%;
          margin: auto;
          background-color: #cccc;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
