.SignIn {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  &__form {
    width: 90%;
    height: auto;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
  }
  &__button {
  font: 1em sans-serif;
  width: 90%;
  margin: auto;
  background-color: #cccc;
  border: none;
  border-radius: 5px;
  }
}
