.profil {
  display: flex;
  
  &__picture {
    width: 40%;
    &__img {
      font-size: 10rem;
    }
  }

  &__info {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    text-align: left;
    margin: 3rem 0;

    &__bar {
      width: 80%;
      border-radius: 5px;

    }
  }
}

p {
  margin: 1rem 0;
}
h1 {
  font-size: 3.5rem;
}
