.Adverts {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 9em;
  &__title {
    font: 3rem bold serif;
    text-decoration: underline;
    color: #3c1f42;
    margin-bottom: 1em;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: auto;
    &__advert {
      width: 30%;
      // taille temporaire;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      height: 500px;
      margin: 1.5rem 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 1px 3px 15px 1px #000000;
      &__img__container {
        height: 100%;
        &__img {
          // width: 50%;
          margin: auto;
          height: 90%;
        }
      }
      &__title {
        font: 2em bold serif;
        border-top: 1px solid black;
        padding: 0.5em 0;
        width: 100%;
        height: auto;
      }
      &__details {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        background-color: #3c1f42;
        color: aliceblue;
      }
    }
  }
}
