.Adverts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  &__title {
    font: 3em bold serif;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    &__advert {
      width: 32%;
      height: auto;
      margin: 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 1px 3px 15px 1px #000000;
      &__title {
        font: 2em bold serif;
      }
      &__details {
        display: flex;
        justify-content: space-around;
        margin: 1rem;
      }
    }
  }
}
